/* styles.css */
/*  common.html here */

.container-contact {
padding: 20px;
text-align: center;
color: white;
background-color: rgb(42, 165, 159);
width: 100%;
}

/* 副標題 */
h2{
margin: 10px 0px 10px 0px;
font-size: 45px;
text-align: center;
}

/* 框內字 */
.container-contact h3 {
font-size: 30px;
text-align: center;
padding: 10px;
}

/* 按鈕設計 */
.btn {
width: 100%;
font-size: 20px;

margin: 10px 0px 10px 0px;
background-color: rgb(6, 117, 119);
color: rgb(255, 255, 255);
border-radius: 20px;
transition: 1s;
}
/* 被選取按鈕設計 */
.btn:hover {
background-color: rgb(178, 224, 84);
color: black;
}

.btn2 {
width: 100%;
font-size: 20px;

margin: 20px 0px 30px 0px;
background-color: rgb(6, 119, 44);
color: rgb(255, 255, 255);
border-radius: 20px;
transition: 1s;
}
.btn2:hover {
background-color: rgb(178, 224, 84);
color: black;
}

.btn3 {
width: 100%;
font-size: 20px;

margin: 20px 0px 30px 0px;
background-color: rgb(136, 38, 25);
color: rgb(255, 255, 255);
border-radius: 20px;
transition: 1s;
}
.btn3:hover {
background-color: rgb(230, 174, 110);
color: black;
}

/* 輸入字體 */
input {
margin-top: 30px;
}
/* 字體平移 */
p{
text-align: right;
font-size: 15px;
margin: 20px 0px 0px 0px;
}

/* 表格設計 */
/* 外層滾動框 */
.my-table-wrapper {
border: 1px solid #000000;      /* 外框 */
border-radius: 4px;          /* 圓角 */
background-color: #fafafa;   /* 淡灰背景 */
overflow-x: auto;            /* 橫向捲動 */
padding: 3px;                /* 內距 */
margin-bottom: 1em;          /* 底部空隙 */
}
/* 表格本體 */
.table-custom {
width: 100%;
border-collapse: collapse;   /* 合併格線 */
text-align: center;
}
/* 標題列 */
.table-custom th {
background-color: rgb(6, 119, 44);
color: #fff;
padding: 10px;
font-weight: 600;
}
/* 內容儲存格 */
.table-custom td {
border: 1px solid rgb(184, 220, 112);
padding: 3px;
color: #333333 !important;
font-weight: 600;
}

